body{
    background-image:url('/assets/images/dailyq-bg-blue-01.png');
    background-size:cover
}
.dailyqLogo{
    width:124px!important
}
.menuProfile{
    background:#a3c644;
    padding:0 16px;
    height:60px;
}
.menuProfileContainer{
    float:left;
    margin-top:8px
}
.menuProfileText{
    line-height:22px;
    padding:0 15px;
    text-transform:uppercase;
    letter-spacing:.5px;
    font-size:15px;
    color:#fff;
    font-family:Oswald Regular,Tahoma,sans-serif
}
