.menuProfileImage{
    width:44px;
    height:44px;
    border-radius:50%;
    border:1px solid #fff;
}
.bold-font{
    font-weight:700
}
.menu-widget{
    display:inline-block;
    cursor:pointer
}
.callToAction{
    color:#fff;
    text-align:center;
    font-family:Oswald Regular,Tahoma,sans-serif;
    margin:150px auto 30px;
    font-size:24px;
}
.rocketIcon{
    width:40px;
    height:40px;
    line-height:40px;
    border-radius:50%;
    background:rgba(0,0,0,.1);
    margin:0 8px 0 0;
}
.mainForm{
    background-color:#fff;
    padding-bottom:40px;
    overflow:hidden;
}
.questionBody{
    margin-bottom:30px;
    text-align:center;
    font-size:18px;
    color:#999;
}
.questionText{
    color:#39c2d7;
    font-size:30px;
    font-weight:lighter;
    margin:50px 0 20px;
    font-family:Oswald Regular,Tahoma,sans-serif;
}
