# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

.idea/misc.xml
.idea/modules.xml
.idea/node_project.iml
.idea/vcs.xml
.idea/workspace.xml
